/*
.owner-name
.owner-sarl
.owner-mail
.owner-address
.publication-name
.webmaster-name
.webmaster-mail
.host-name
.host-address
.website-name-url
.website-mail
*/

nav {
    justify-content: center!important;
}

.btn-container {
    height: 140px;
    margin: 25px auto;
}

.btn-copy {
    height: 100%;
}

footer {
    background-color: #000000;
    color: #ffffff;
    margin-top: 80px;
    padding: 25px 10px 15px 10px;
}